# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Dependencies
node_modules/

# Lockfiles (alt package managers)
yarn.lock

# Logs
*.log

# Build output
dist/
release/
out/

# Env / secrets
.env
.env.local

# Caches
.npm/
.cache/

# IDE / editors
.vscode/
.idea/
*.swp
